.container {
  overflow: hidden;
}

.title-header {
  margin: 0px 0px 75px 0px;
}

.cards-container {
  overflow: visible !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 100px 0px 70px 0px;
}

.id {
  position: absolute;
  left: 5px;
  top: 5px;
}

$profile-image-dimension: 225px;
.profile-image-container {
  position: relative;
  height: $profile-image-dimension;
  width: $profile-image-dimension;
}

.profile-image-container > img {
  border-radius: calc($profile-image-dimension / 2);
  border: 5px solid $off-black;
  box-sizing: border-box;
}

$company-image-dimension: 75px;
.company-image-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: $company-image-dimension;
  width: $company-image-dimension;
  border-radius: calc($company-image-dimension / 2);
}

.company-image-container > img {
  border-radius: inherit;
  border: 1px solid $off-black;
}

.text-container {
  margin: 40px 0px 0px 0px;
  text-align: center;
}

.name {
  font-weight: 700;
}

.title {
  margin: 10px 0px 0px 0px;
}

@media only screen and (max-width: $desktop) {
  .card {
    width: 275px;
    padding: 80px 0px 20px 0px;
  }

  .id {
    top: 0px;
    left: 0px;
  }

  .text-container {
    margin: 40px 0px 0px 0px;
  }

  $profile-image-dimension: 200px;
  .profile-image-container {
    height: $profile-image-dimension;
    width: $profile-image-dimension;
    border-radius: calc($profile-image-dimension / 2);
  }
}

@media only screen and (max-width: $laptop) {
  .card {
    width: 225px;
    padding: 55px 0px 20px 0px;
  }

  $profile-image-dimension: 150px;
  .profile-image-container {
    height: $profile-image-dimension;
    width: $profile-image-dimension;
    border-radius: calc($profile-image-dimension / 2);
  }

  $company-image-dimension: 50px;
  .company-image-container {
    height: $company-image-dimension;
    width: $company-image-dimension;
  }
}

@media only screen and (max-width: $tablet) {
  .card {
    width: 200px;
    padding: 50px 0px 30px 0px;
    border-width: 2px;
  }

  .text-container {
    margin: 20px 0px 0px 0px;
  }

  $profile-image-dimension: 150px;
  .profile-image-container {
    height: $profile-image-dimension;
    width: $profile-image-dimension;
    border-radius: calc($profile-image-dimension / 2);
  }
}

@media only screen and (max-width: $mobile) {
  .card {
    width: 215px;
    padding: 55px 0px 20px 0px;
  }

  $profile-image-dimension: 150px;
  .profile-image-container {
    height: $profile-image-dimension;
    width: $profile-image-dimension;
    border-radius: calc($profile-image-dimension / 2);
  }

  .profile-image-container > img {
    border-width: 3px;
  }

  $company-image-dimension: 50px;
  .company-image-container {
    height: $company-image-dimension;
    width: $company-image-dimension;
  }
} ;
