.title {
  margin: 0px 0px 75px 0px;
}

.accordion-container {
  display: flex;
  flex-direction: row;
  background-color: $light-gray;
  border: 4px solid $off-black;
  border-right: none;

  height: 700px;
}

.accordion-container > div {
  border-right: 4px solid $off-black;
}

.header-section {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  height: 100%;
  width: 100px;
  padding: 50px 0px;
  box-sizing: border-box;
}

.mission-text {
  transform: rotate(-90deg) translateX(75px);
}

.text-section {
  display: flex;
  flex-direction: column;
  padding: 150px 125px;
}

.subtitle {
  margin: 0px 0px 50px 0px;
}

@media only screen and (max-width: $desktop) {
  .accordion-container {
    height: 600px;
  }

  .text-section {
    padding: 150px 100px;
  }
}

@media only screen and (max-width: $laptop) {
  .accordion-container {
    height: 500px;
  }

  .header-section {
    width: 75px;
  }

  .text-section {
    padding: 125px 50px;
  }
}

@media only screen and (max-width: $tablet) {
  .title {
    margin: 0px 0px 50px 0px;
  }

  .accordion-container {
    height: 400px;
    border-width: 2px;
  }

  .accordion-container > div {
    border-width: 2px;
  }

  .header-section {
    width: 60px;
  }

  .text-section {
    padding: 50px 50px;
  }
}

@media only screen and (max-width: $mobile) {
  .accordion-container {
    flex-direction: column;
    height: auto;
    border: 2px solid $off-black;
    border-bottom: none;
  }

  .accordion-container > div {
    border-right: none;
    border-bottom: 2px solid $off-black;
  }

  .header-section {
    flex-direction: row-reverse;
    align-items: center;
    width: auto;
    padding: 10px 20px;
  }

  .mission-text {
    transform: none;
    margin: 0px 0px 0px 10px;
  }

  .text-section {
    padding: 50px 25px 75px 25px;
  }
} ;
