.card {
  // background-color: $light-gray;
  padding: 80px 45px;
}

.card > p,
.title {
  color: $off-black;
}

.card > p > span {
  font-weight: 700;
}

.title {
  text-decoration: underline;
  margin: 0px 0px 50px 0px;
}

@media only screen and (max-width: $desktop) {
  .card {
    padding: 55px 45px;
    // border-radius: 12.5px;
  }
}

@media only screen and (max-width: $tablet) {
  .card {
    padding: 30px 17.5px;
    border-width: 2px;
  }

  .title {
    margin: 0px 0px 25px 0px;
  }
} ;
