.container {
  display: flex;
  flex-direction: column;
}

.names-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 20px;
  margin: 100px 0px 100px 0px;
}

.outliers {
  color: $floodgate;
  text-decoration: underline;
}

@media only screen and (max-width: $tablet) {
}
