.container {
  display: flex;
  flex-direction: column;
}

.names-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
  margin: 100px 0px 100px 0px;
}

.outliers {
  color: var(--floodgate);
}
