.solid-shadow-animation {
  animation: solid-shadow 0.5s ease-in-out 0.25s forwards;
}

@keyframes solid-shadow {
  0% {
    box-shadow: 0px 0px var(--off-black);
  }
  100% {
    box-shadow: 30px 30px var(--off-black);
  }
}
