.xxl-title-font {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 700;
}

.title-font {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-weight: 500;
}

.subtitle-font {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.paragraph-font,
body {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 400;
}

.details-font {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.subdetails-font {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: $desktop) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: $laptop) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: $mobile) {
  html {
    font-size: 10px;
  }
}
