$floodgate: #55c5ef;
$floodgate-dark: #191749;
$off-black: #0e1111;
$off-white: #f3f8f9;
$gray: #808080;
$light-gray: #e2ded6;
$dark-gray: #2e2e2e;
$error-color: #e66e6e;

$navbar-height: 60px;
$width-clamp: clamp(300px, 90%, 1500px);

$desktop: 1460px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;
